@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

#root {
  
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
  background-color: #FDF7F5 ;
}